---

---

<footer
  class="absolute bottom-0 left-0 right-0 bg-gradient-to-b from-gray-900 to-gray-950 border-t border-gray-800 h-16 flex items-center"
>
  <div class="container mx-auto px-6">
    <!-- Bottom section -->
    <div
      class="border-gray-800 flex flex-col md:flex-row justify-between items-center"
    >
      <div class="text-gray-400 text-sm">
        © 2025 Computer Science Department. Made by <a href="https://ta1al.com"
          >Ta1al</a
        >.
      </div>
    </div>
  </div>
</footer>
